.lightbox {
     position: fixed;
     top: 0px;
     left: 0px;
     width: 100vw;
     height: 100vh;
     background-color: rgba(0,0,0,0.5);
     padding: 15px;
     box-sizing: border-box;
     display: flex;
     align-items: center;
     justify-content: center;
}
.lightbox__inner {
     position: relative;
     width: 100%;
     max-width: 800px;
     min-height: 100px;
     background-color: white;
     box-shadow: 0px 0px 25px rgba(0,0,0,0.3);
}
.lightbox__close {
     background: none;
     border: none;
     outline: none;
     position: absolute;
     top: 0px;
     right: 0px;
     padding: 0px 10px;
     font-size: 40px;
     cursor: pointer;
     color: rgba(0,0,0,0.5);
}
.lightbox__close:hover {
     color: rgba(0,0,0,0.3);
}