body {
     margin: 0px;
}
.grid {
     display: grid;
     grid-template-columns: repeat(3,200px);
     grid-gap: 10px;
     align-items: center;
     justify-content: center;
     height: 100vh;
}
.grid img {
     width: 200px;
     height: 200px;
     cursor: pointer;
}
#lightbox {
     position: fixed;
     top: 0%;
     z-index: 1000;
     width: 100%;
     height: 100%;
     display: none;
     background-color: rgba(0,0,0,0.8);
}
#lightbox.active {
     display: flex;
     align-items: center;
     justify-content: center;
}
#lightbox img {
     max-width: 90%;
     max-height: 80%;
     padding: 4px;
     background-color: black;
     border: 2px solid white;
}